@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --header-height: 3.5rem;

  --first-color: hsl(93, 54%, 54%);
  --first-color-alt: hsl(93, 50%, 48%);
  --first-color-light: hsl(93, 58%, 66%);
  --title-color: hsl(228, 8%, 98%);
  --text-color: hsl(228, 8%, 70%);
  --white-color: hsl(228, 8%, 98%);
  --black-color: hsl(228, 6%, 4%);
  --body-color: hsl(228, 6%, 8%);
  --container-color: hsl(228, 6%, 12%);
  --shadow-img: 0 0 48px hsla(93, 54%, 54%, .4);
  --gradient-card: linear-gradient(180deg,
                                hsla(93, 8%, 8%),
                                hsla(93, 40%, 30%));


  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;


  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;


  --z-tooltip: 10;
  --z-fixed: 100;
}


@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  overflow: hidden;
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
  background-color: transparent;
  z-index: var(--z-fixed);
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo, .nav_close, .nav_toggle, .nav_actions{
  display: flex;
  color: var(--title-color);
  cursor: pointer;
}

.nav_logo{
  font-weight: var(--font-semi-bold);
  column-gap: .25rem;
  align-items: center;
}

.nav_logo i{
  color: #FFB6C1;
  font-size: 1.25rem;
  font-weight: initial;
}

.nav_actions{
  font-size: 1.25rem;
  column-gap: .5rem;
  align-items: center;
}

@media screen and (max-width: 1150px) {
  .nav_menu{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(228, 24%, 6%,.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right .4s;
  }
}

.nav_list{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav_link{
  color: 	#FFFFFF;
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav_link:hover{
  color: #FFB6C1;
}

.nav_close{
  position: absolute;
  top:1.15rem;
  right: 1.5rem;
  font-size: 1.25rem;
}
.show-menu{
  right: 0;
}
.home_container{
  padding-top:2.5rem;
  row-gap: 2rem;
}
.home_img{
  width: 270px;
  filter: drop-shadow(var(--shadow-img));
  justify-self: center;
}
.home_data{
  text-align: center;
}
.home_title{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}
.home_title span{
  color: #FFB6C1;
}
.home_description{
  margin-bottom: 3rem;
}

.home_buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  background-color: #FFFFFF;
  color: black;
  font-weight: bold;
  padding: .5em 1.5rem .5rem .5rem;
  border-radius: 4rem;
  display: inline-flex;
  align-items: center;
  column-gap: .75rem;
}
.button span{
  background-color: #FFB6C1;
  padding: .5rem;
  font-size: 1.25rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: transform .4s;
}
.button:hover span{
  transform: translateX(.15rem) rotate(-30deg);
}
.button_link{
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: underline;
  transition: color .4s;
  padding-left: .6rem;
}
.button_link:hover{
  color: #FFB6C1;
}
.new_data{
  text-align: center;
}
.new_container{
  row-gap: 7.5rem;
}
.new_content{
  row-gap: 6rem;
}
.new_card{
  position: relative;
  width: 200px;
  background: var(--gradient-card);
  padding: 9rem .75rem 1.5rem .75rem;
  border: 2px solid #FFB6C1;
}

.new_img{
  position: absolute;
  top: -4.5rem;
  left: 0;
  right: 0;
  width: 180px;
  margin:  0 auto;
  transition: transform .4s;
}
.new_title{
  font-size: var(--h2-font-size);
  text-align: center;
}
.new_card:nth-child(odd){
  rotate: -5deg;
}
.new_card:nth-child(even){
  justify-self: flex-end;
  rotate: 5deg;
}

.new_card:hover .new_img{
  transform: translateY(-.5rem);
}

.blur_header::after{
  content: '';
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(228, 24%, 6%, .2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  top:0;
  left: 0;
  z-index: -1;
}